<div class="homepage-blog">
    <p class="homepage-blog__title">NEWS</p>
    <div class="homepage-blog__inner">
        <p class="homepage-blog__text">2022 08.01  テキストテキストテキストテキスト</p>
        <p class="homepage-blog__text">2022 08.01  テキストテキストテキストテキスト</p>
        <p class="homepage-blog__text">2022 08.01  テキストテキストテキストテキスト</p>
        <p class="homepage-blog__text">2022 08.01  テキストテキストテキストテキスト</p>    
    </div>
</div>