<div class="page-width">
    <img src="{{section.settings.single_image_picker | img_url: "master"}}" style="width: 80vw; height:auto;">
</div>
    
{% schema %}
{
    "name": "Single Image Insert",
    "settings": [{
        {
        "type": "image_picker",
        "id": "single_image_picker",
        "label": "画像のラベル"
        }
    }],
    "presets" : [
    {
        "name" : "Single Image挿入",
        "category" : "Image"
    }
    ]
}
{% endschema %}