<div class="product-other-reco__wrapper">
    <div class="product-other-reco__inner">
        <p>その他のツアー</p>
        <img class="product-other-reco__image" src="https://cdn.shopify.com/s/files/1/0584/0286/5288/files/product-other-reco1.png?v=1658173530" alt="">
        <img class="product-other-reco__image" src="https://cdn.shopify.com/s/files/1/0584/0286/5288/files/product-other-reco1.png?v=1658173530" alt="">
    </div>
</div>