<div class="product-attention__wrapper">
    <h3>注意事項</h3>
    <ul class="product-attention__list">
        {{ product.metafields.custom.product-attention-notes }}
    </ul>
    <div class="product-attention__inner">
        <p class="product-attention__text">{{ product.metafields.custom.product-attention-text.value }}</p>
        <img class="product-attention__icon" src="https://cdn.shopify.com/s/files/1/0584/0286/5288/files/waqwaq-icon-text2.png?v=1658252285" alt="">
    </div>
</div>

