<div class="product-attention__wrapper">
    <h3>注意事項</h3>
    <ul>
        <li>半ズボン､ミニスカート､ランニング､タンクトップなど肌の露出度の多い服装では入場できません。</li>
        <li>ヴァチカン美術館内に大きな荷物やスーツケース、金属類はお持ち込みいただけません。あらかじめご注意ください。</li>
        <li>美術館内では帽子をお取りください。</li>
        <li>ヴァチカン美術館ではビデオカメラの持ち込みおよびフラッシュ撮影は固く禁じられております。また、システィーナ礼拝堂での写真撮影およびビデオ撮影、携帯電話の使用は禁止されております。</li>
    </ul>
</div>