/* <<<<<<<<<共通>>>>>>>>> */
a{
    color: inherit;
    text-decoration: none;
}

/* <<<<<<<<<トップページ>>>>>>>>>> */

#MainContent{
    width: 80vw;
    margin-left: 20vw;
}

@media screen and (max-width: 749px) {
    #MainContent{
        width: 100vw;
        margin-left: 0;
    }
}

/* <<<<ヘッダー>>>>>> */

header{
    display: block;
    position: fixed;
    left: 0;
}

.list-menu--inline {
    display: block !important;
    flex-wrap:nowrap;
}

@media screen and (max-width: 749px) {
    header{
        display: grid;
        position: initial;
    }
}

/* ***セクション******* */

/* *トップページ　ブログセクション */

.homepage-blog{
    margin: 2%;
    padding-bottom: 2%;
    background: #F5F7F8;
    border-radius: 1rem;
}

.homepage-blog__title{
    color: #87BAC6;
    font-family: 'A P-OTF Shuei KakuGo Gin Std';
    font-size: 2rem;
    margin-top: 10%;
    margin-left: 2%;
}

.homepage-blog__inner{
    margin: 2%;
}

.homepage-blog__text{
    border-bottom: medium solid #D8D8D8;
}

/* *画像挿入Single responsive* */

.image-single-insert__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-single-insert-large__image{
    width: 60vw;
    height: auto;
}

.image-single-insert-medium__image{
    width: 30vw;
    height: auto;
}


@media screen and (max-width: 749px) {
    .image-single-insert-large__image{
        width: 90vw;
        height: auto;
    }

    .image-single-insert-medium__image{
        width: 90vw;
        height: auto;
    }
}