/* <<<<<<<<<共通>>>>>>>>> */
a{
    color: inherit;
    text-decoration: none;
}

/* <<<<<<<<<トップページ>>>>>>>>>> */

#MainContent{
    width: 80vw;
    margin-left: 20vw;
}

@media screen and (max-width: 749px) {
    #MainContent{
        width: 100vw;
        margin-left: 0;
    }
}

/* <<<<ヘッダー>>>>>> */

header{
    display: block;
    position: fixed;
    left: 0;
}

.list-menu--inline {
    display: block !important;
    flex-wrap:nowrap;
}

@media screen and (max-width: 749px) {
    header{
        display: grid;
        position: initial;
    }
}


/* <<<<<<<商品個別ページ>>>>>>>> */

#shopify-section-template--14954993844360__main{
    margin: 0!important;
    padding: 0!important;
}

.shopify-section .section{
    margin: 0!important;
    padding: 0!important;
}

.product-main-image__wrapper{
    width: 80vw;
    padding-bottom: 0;
}

.product-main-image{
    width: 100%!important;
    height: auto;
}

/* **Product Points***** */

.product-points__wrapper{
    background-image: url(https://cdn.shopify.com/s/files/1/0584/0286/5288/files/product-points-background-pc.png?v=1658168092);
    width: 100%;
    height: 580px;
    object-fit: contain;
    padding-top: 5vw;
}

@media screen and (max-width: 749px) {
    .product-main-image{
        width: 100vw!important;
        height: auto;
    }

    .product-points__wrapper{
        background-image: url(https://cdn.shopify.com/s/files/1/0584/0286/5288/files/product-points-background-sp.png?v=1658168537);
    }
}

/* ***Product Schedule***** */

.product-schedule__wrapper{
    background-color: #F5F7F8;
}

.product-schedule__inner{
    width: 80%;
    margin-left: 20%;
    padding: 5% 0;
}

.product-schedule-map__block{
    display: flex;
}

.product-schedule-map__time{
    margin-right: 3%;
}

.product-schedule-circle{
    width: 1rem;
    height: 1rem;
    margin-right: -5px;
    z-index: 2;
    margin-top: 1%;
}

.product-schedule-map__border{
    border-left: 1px solid #87BAC6;
    z-index: 1;
    margin-top: 1%;
}

.product-schedule-map__content{
    margin-left: 5%;
}

.product-schedule-map__title{
    font-size: 2rem;
}

@media screen and (max-width: 749px) {

    .product-schedule__inner{
        width: 100%;
        margin-left: 3%;
    }
}

/* **Product Attention**** */

.product-attention__wrapper{
    width: 70%;
    margin-left:15%;
    margin-right:15%;
    position: relative;
}

.product-attention__inner{
    position: relative;
    padding-top: 5%;
}

.product-attention__text{
    color: #0E7892;
    font-size: 1.2rem;
    line-height: 0.5rem;
}

.product-attention__icon{
    width: 15vw;
    height: auto;
}

@media screen and (max-width: 749px) {

    .product-attention__wrapper{
        width: 100%;
        margin-left:5%;
        margin-right:5%;
    }
}

/* ***Product Other Recommendations****** */

.product-other-reco__wrapper{
    background-color: #F5F7F8;
    padding: 5% 0;
    position: relative;
}

.product-other-reco__title{
    text-align: center;
}

.product-other-reco__inner{
    width: 100%;
    display: flex;
    justify-content: center;
}

.product-other-reco__image{
    width: 25vw;
    height: auto;
    border-radius: 2rem;
    padding: 2%;
}

.product-other-reco__text{
    color: #0E7892;
    font-size: 1.2rem;
    text-align: right;
    margin-right: 15%;
}

.product-other-reco__icon{
    width: 15vw;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 15%;
}

@media screen and (max-width: 749px) {

    .product-attention__wrapper{
        width: 100%;
        margin-left:5%;
        margin-right:5%;
    }

    .product-other-reco__inner{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product-other-reco__image{
        width: 80vw;
        height: auto;
    }
}


/* ***セクション******* */

/* *トップページ　ブログセクション */

.homepage-blog{
    margin: 2%;
    padding-bottom: 2%;
    background: #F5F7F8;
    border-radius: 1rem;
}

.homepage-blog__title{
    color: #87BAC6;
    font-family: 'A P-OTF Shuei KakuGo Gin Std';
    font-size: 2rem;
    margin-top: 10%;
    margin-left: 2%;
}

.homepage-blog__inner{
    margin: 2%;
}

.homepage-blog__text{
    border-bottom: medium solid #D8D8D8;
}

/* *画像挿入Single responsive* */

.image-single-insert__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-single-insert-large__image{
    width: 60vw;
    height: auto;
}

.image-single-insert-medium__image{
    width: 30vw;
    height: auto;
}


@media screen and (max-width: 749px) {
    .image-single-insert-large__image{
        width: 90vw;
        height: auto;
    }

    .image-single-insert-medium__image{
        width: 90vw;
        height: auto;
    }
}

/* *テキスト＋画像２枚* */

.text-with-2images__wrapper{
    width: 100%;
    padding: 3% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:large;
    font-weight: 600;
    font-family: 'A P-OTF Shuei KakuGo Gin Std';
}

.text-with-2images__inner{
    width: 70%;
    display: flex;
    justify-content: space-around;
    padding: 5% 0;
}

.text-with-2images__image{
    width: 100%;
    height: auto;
}

@media screen and (max-width: 749px) {

    .text-with-2images__inner{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5% 0;
    }
    
    .text-with-2images__image{
        width: 90%;
        padding: 2% 0;
    }
}


/* *公式SNSブロック* */

.text-with-social-icons__wrapper{
    width: 100%;
    padding: 3% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:large;
    font-weight: 600;
    font-family: 'A P-OTF Shuei KakuGo Gin Std';
}

.text-with-social-icons__inner{
    width: 20%;
    display: flex;
    justify-content:space-around;
    padding: 5% 0;
}

.text-with-social-icons__image{
    width: 80%;
    height: auto;
}

@media screen and (max-width: 749px) {

    .text-with-social-icons__inner{
        width: 80%;
        display: flex;
        justify-content:space-around;
        padding: 5% 0;
    }
    
    .text-with-social-icons__image{
        width: 100%;
        height: auto;
    }
}