.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

.contact-wrapper{
  background-image: url(https://cdn.shopify.com/s/files/1/0584/0286/5288/files/contact-background-pc.png?v=1657448254);
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  padding-top: 3vw;
}

.contact-background{
  /* background-image: url({{ 'contact-background-pc.png' | asset_url }}); */
}

@media screen and (max-width: 749px) {
  .contact-wrapper{
    background-image: url(https://cdn.shopify.com/s/files/1/0584/0286/5288/files/contact-background-sp.png?v=1657450504);
    padding-top: 10rem;
  }
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}
